.MuiAppBar-root.menuBar {   
    background-color: #fff;
    box-shadow: 0px 2px 10px 0px rgba(133, 157, 177, 0.10);
    color: $primary-color-blue-dark-2;
    height: 64px;
}

.MuiTypography-root.heading-h6-purple.logo {
    line-height: 24px;
  
    &::before {    
      position: absolute;
      content: url("src/assets/icons/Logo.svg");
      left: 24px;
      top: 17px;
    }
  }

.MuiTabs-root.tabMenu {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}