.MuiTablePagination{
  &-displayedRows {
    display: none;
  }
  &-root {
    width: 100%;
  }
  &-spacer {
    display: none !important;
  }
  &-toolbar {
    border: 1px solid green
  }
}

.css-wop1k0-MuiDataGrid-footerContainer {
  justify-content: unset;
}

.MuiToolbar-root {
  .MuiTablePagination-toolbar {
    border: 1px solid purple
  }
}
