.MuiTablePagination{
  &-displayedRows {
    display: none;
  }
  &-root {
    width: 100%;
  }
  &-spacer {
    display: none !important;
  }
}

.css-wop1k0-MuiDataGrid-footerContainer {
  justify-content: unset;
}

.pagginationBox {
  font-family: Inter;
  width: 100%;
  display: flex;
  align-items: center;
  height: auto;
}

.footerSelect {
  border: 1px solid rgba($basic-color-gray-5, 0.4);
  border-radius: 5px;
  height: 40px;
  width: 75px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: start;
  padding: 5px 10px;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
