.MuiTablePagination{
  &-displayedRows {
    display: none;
  }
  &-root {
    width: 100%;
  }
  &-spacer {
    display: none !important;
  }
}

.css-wop1k0-MuiDataGrid-footerContainer {
  justify-content: unset;
}

.pagginationBox {
  font-family: Inter;
  width: 100%;
  display: flex;
}

.footerSelect {

}

@media (min-width: 600px) {
  .MuiToolbar-root {
    padding-left: 0;
  }
}


