
    $primary-color-blue: #11A1FD;
    $primary-color-blue-light: #4CC3FD;
    $primary-color-blue-dark: #0C7DD9;
    $primary-color-blue-dark-2: #085DB6;

    $info-color-purple: #5A75F8;
    $info-color-purple-light: #8299FA;
    $info-color-purple-dark: #4158D5;
    $info-color-purple-dark-2: #2D3FB2;

    $basic-color-white: #FFF;

    $basic-color-gray: #F3F7F9;
    $basic-color-gray-2: #E3EEF6;
    $basic-color-gray-3: #CBDFEA;
    $basic-color-gray-4: #A6C1D3;
    $basic-color-gray-5: #7D9EB5;
    $basic-color-gray-6: #486F88;
    $basic-color-gray-7: #223345;
    
    $sidebar-color: #0C2556;
    
    $success-color-green: #07C180; 
    $success-color-green-light: #3CD993; 
    $success-color-green-dark: #05A57D; 
    $success-color-green-dark-2: #038A76; 
    
    $warning-color-orange:#FF9931;
    $warning-color-orange-light:#FFBA64;
    $warning-color-orange-dark:#DB7723;;
    $warning-color-orange-dark-2:#B75918;

    $danger-color-red:#F42B3D;
    $danger-color-red-light:#F85F5E;
    $danger-color-red-dark:#D11F3F;
    $danger-color-red-dark-2:#B71A45;