@mixin headings($colorfont, $lineHeight) {
  color: $colorfont;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  line-height: $lineHeight;
}

$colorfont: (
  "color-1": $basic-color-gray-7,
  "color-2": $basic-color-white,
  "color-3": $primary-color-blue,
);

$size: (
  "h1": (36px, 40px, $colorfont),
  "h2": (32px, 40px, $colorfont),
  "h3": (30px, 30px, $colorfont),
  "h4": (24px, 24px, $colorfont),
  "h5": (22px, 22px, $colorfont),
  "h6": (18px, 18px, $colorfont),
);


@each $key, $val in $size {
  .MuiTypography-root {
    @each $colorKey in $val {
      $colorValue: map-get($colorfont, $colorKey);
      &.heading-#{$key} {
        &-#{$colorKey} {
          @include headings($colorValue, nth($val, 2));
          font-size: nth($val, 1);
        }
      }
    }
  }
}
