@mixin headings() {
      color: $basic-color-gray-7;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
};

$size: (
  "h1": 36px,
  "h2": 32px,
  "h3": 30px,
  "h4": 24px,
  "h5": 22px,
  "h6": 18px,
);

@each $key, $val in $size {
  .MuiTypography-root {
    &.heading-#{$key} {
      @include headings();
      font-size: $val;
    }
  }
}
